<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Streamlined and Accurate <span>Estimate</span> Process</h1>
                    <p class="my-3">Enhance your efficiency with our comprehensive estimating tools. Create detailed, accurate quotes and manage your HVAC projects effortlessly.</p>
                    <div class="gap-4 d-flex align-items-center flex-column flex-sm-row">
                        <button class="btn btn-fill-primary py-sm-3  px-sm-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <a href="tel:(347) 849-3436" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (347) 849-3436
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="inner-hero-img">
                    <img src="../../assets/images/frontend/images/estimate-hero-image.svg" class="w-100" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-6 mx-auto text-center">
            <div class="section-title-sec mb-3">
                <p class="mb-sm-3">Main Feature</p>
                <h2>Efficient and Detailed <span class="d-block">Estimate</span> Creation</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/professional-estimate-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Professional Estimate Templates</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Customizable Templates</h5>
                                <p class="font15 mb-0">Designed for different industries and services, ensuring they meet specific needs and professional standards.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Detailed Breakdown</h5>
                                <p class="font15 mb-0">Shows a clear and comprehensive list of costs, terms, and conditions for better client understanding.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Seamless Integration</h5>
                                <p class="font15 mb-0">Works easily with invoicing and payment systems, facilitating smooth and efficient transaction processes.</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-start justify-content-center">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content pe-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Detailed Service Selection</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Comprehensive Service List</h5>
                                <p class="font15 mb-0">Allows users to select from a wide range of HVAC services, ensuring all their needs are covered.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Customizable Options</h5>
                                <p class="font15 mb-0">Users can specify particular tasks or add-ons, tailoring the estimate to their exact requirements.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Interactive Selection</h5>
                                <p class="font15 mb-0">Real-time updates on costs as users choose different services or options, helping them make informed decisions.</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-start justify-content-center">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/estimate-service-selection-image.svg" class="w-100" alt="image" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/estimate-real-time-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Real-Time Estimate Tracking</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Status Updates</h5>
                                <p class="font15 mb-0">Provides real-time updates on the estimate's status, including sent, viewed, and accepted.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Read Receipts</h5>
                                <p class="font15 mb-0">Tracks when and if the customer has viewed the estimate, improving follow-up efficiency.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automated Notifications</h5>
                                <p class="font15 mb-0">Sends automatic notifications to both the contractor and the customer regarding the estimate status and any actions required.</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-start justify-content-center">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5  rounded-4 bg-blue-primary text-center section-cta">
            <div class="row">
                <div class="col-lg-10 col-xl-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Experience the Power of Blue Collar Engine. Schedule your personalized demo now.</p>
                    <button class="btn btn-light py-3 mt-4 px-4 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>
<!--
    <app-news-and-blogs></app-news-and-blogs>
-->