<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Achieve accuracy and efficiency in your <span>estimating process</span></h1>
                    <p class="my-3">Enhance your efficiency with our comprehensive estimating tools. Create detailed, accurate quotes and manage your HVAC projects effortlessly.</p>
                    <div class="gap-4 d-flex align-items-center flex-column flex-sm-row">
                        <button class="btn btn-fill-primary py-sm-3  px-sm-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <a href="tel:(347) 849-3436" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (347) 849-3436
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="inner-hero-img">
                    <img src="../../assets/images/frontend/images/invoice-title-img.svg" class="w-100" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-6 mx-auto text-center">
            <div class="section-title-sec mb-3">
                <p class="mb-sm-3">how it work</p>
                <h2>Efficient and Detailed
                    <span class="d-block">Estimate Creation</span>
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Effortless Estimate Design for a Professional Look
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Professional Templates</h5>
                                <p class="font15 mb-0">Utilize professionally designed templates for creating detailed
                                    and visually appealing estimates.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Visual Emphasis</h5>
                                <p class="font15 mb-0">Use visual cues like bold text and highlights to draw attention
                                    to key items and services.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Additional Options</h5>
                                <p class="font15 mb-0">Easily add optional items and upgrades for clients to consider,
                                    enhancing upsell opportunities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content pe-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Keep Clients Informed with Timely Follow-Ups
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automated Follow-Ups</h5>
                                <p class="font15 mb-0">Send automatic follow-up notifications to clients, reminding them
                                    to review and respond to estimates.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Status Updates</h5>
                                <p class="font15 mb-0">Keep clients informed with notifications about the status of
                                    their estimates.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Personalized Messages</h5>
                                <p class="font15 mb-0">Customize follow-up messages to address client-specific needs and
                                    queries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Streamlined Estimate Approval Process
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Easy Approval Process</h5>
                                <p class="font15 mb-0">Simplify the approval process with a user-friendly interface for
                                    clients to review and approve estimates.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Electronic Signatures</h5>
                                <p class="font15 mb-0">Enable clients to provide electronic signatures for faster and
                                    more secure approval.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Real-Time Updates</h5>
                                <p class="font15 mb-0">Receive real-time notifications once an estimate is approved,
                                    allowing you to proceed quickly with the job.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5  rounded-4 bg-blue-primary text-center section-cta">
            <div class="row">
                <div class="col-lg-10 col-xl-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Experience the Power of Blue Collar Engine. Schedule your personalized demo now.</p>
                    <button class="btn btn-light py-3 mt-4 px-4 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>
<!--
    <app-news-and-blogs></app-news-and-blogs>
-->