<section class="request-demo-banner section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-top gx-5">
            <div class="col-lg-6">
                <div class="request-demo-contents">
                    <h1>See <span>Blue Collar Engine</span> in Action!</h1>
                    <p class="my-3">Schedule a personalized demo to explore how our platform can transform your HVAC
                        business. Discover powerful features, streamline operations, and elevate your customer service.
                    </p>
                    <p class="font18">Want to know more? Call <a href="tel:(347) 849-3436">(347) 849-3436</a> to chat
                        with our expert.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="request-demo-form">
                    <h2>Please enter your information</h2>
                    <form [formGroup]="requestDemoForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="fname" class="form-label">First Name</label>
                                    <input type="text" id="firstName" formControlName="firstName"
                                        placeholder="Enter First Name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="50">
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="lname" class="form-label">Last Name</label>
                                    <input type="text" id="lastName" formControlName="lastName"
                                        placeholder="Enter Last Name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="50">
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="phonenumber" class="form-label">Phone Number</label>
                                    <input type="text" id="phonenumber" formControlName="phoneNumber"
                                        placeholder="Enter Phone Number" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" appPhoneMask>
                                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                                        <div *ngIf="f.phoneNumber.errors.pattern">Enter valid phone number</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input type="email" id="email" formControlName="emailAddress"
                                        placeholder="Enter Email Address" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                                        <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
                                        <div *ngIf="f.emailAddress.errors.pattern">Enter valid email address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="companyname" class="form-label">Company Name</label>
                                    <input type="text" id="companyName" formControlName="companyName"
                                        placeholder="Enter Company Name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
                                    <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                                        <div *ngIf="f.companyName.errors.required">Company name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="employeesNumber" class="form-label">Number of Employee</label>
                                    <select id="employeesNumber" formControlName="noOfEmpInCompany" class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && f.noOfEmpInCompany.errors }">
                                        <option value="" disabled>Select</option>
                                        <option value="{{_emp.text}}" *ngFor="let _emp of noOfEmplyees">{{_emp.value}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.noOfEmpInCompany.errors" class="invalid-feedback">
                                        <div *ngIf="f.noOfEmpInCompany.errors.required">Number of employee is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="industry" class="form-label">Industry</label>
                                    <select id="industry" formControlName="industry" class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && f.industry.errors }">
                                        <option value="" disabled>Select</option>
                                        <option value="{{industry.text}}" *ngFor="let industry of industries">
                                            {{industry.value}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.industry.errors" class="invalid-feedback">
                                        <div *ngIf="f.industry.errors.required">Industry is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="howHearAboutUs" class="form-label">How did you here about us?</label>
                                    <select id="howHearAboutUs" formControlName="howHearAboutUs" class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && f.howHearAboutUs.errors }">
                                        <option value="">Select</option>
                                        <option value="{{_emp.text}}" *ngFor="let _emp of hereAboutUs">{{_emp.value}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.howHearAboutUs.errors" class="invalid-feedback">
                                        <div *ngIf="f.howHearAboutUs.errors.required">Here about us is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="timeZone" class="form-label">Time Zone</label>
                                    <select id="timeZone" formControlName="timeZone" class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && f.timeZone.errors }">
                                        <option value="">Select</option>
                                        <option value="{{timezone.utc}}" *ngFor="let timezone of timezones">
                                            {{timezone.label}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.timeZone.errors" class="invalid-feedback">
                                        <div *ngIf="f.timeZone.errors.required">Time zone is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button href="#" class="btn btn-fill-primary w-100 mt-3" type="submit">Submit</button>
                            </div>
                            <div class="col-lg-12">
                                <p class="mb-0 font14 mt-3 text-center font-muted">By clicking “Submit” I consent to
                                    Blue Collar Engine Terms of Service and Privacy Policy, allowing contact via SMS and
                                    email provided.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>
<!--<app-news-and-blogs></app-news-and-blogs>-->