/* Request demo css */

.section-space-ptb {
  padding: 100px 0;
}
.btn-fill-primary {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #fff;
  padding: 7px 25px;
  font-size: 14px;
}

.btn-fill-primary:hover {
  color: #fff;
  background-color: #0b2147;
  border-color: #0b2147;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
}
.request-demo-banner {
  background: linear-gradient(105.35deg, #407cee 0.61%, #173777 98.11%);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.request-demo-contents h1 {
  font-size: 75px;
  color: #fff;
  font-weight: 700;
}

.request-demo-contents h1 span {
  color: #f7cd4b;
}

.request-demo-contents p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.request-demo-contents p a {
  color: #f7cd4b;
}

.request-demo-form {
  background: #fff;
  padding: 25px;
  border: 5px solid rgb(24 60 133 / 37%);
  border-radius: 10px;
  text-align: left;
}

.request-demo-form h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.request-demo-form .form-group .form-label {
  color: #374151;
  font-size: 14px;
  font-weight: 500;
}

.request-demo-form .form-group .form-control,
.request-demo-form .form-group .form-select {
  font-size: 14px;
  border: 1px solid #d1d5db;
  height: 38px;
  font-weight: 400;
  color: #374151;
}

.request-demo-form button.btn {
  font-size: 16px;
  height: 42px;
}

@media screen and (max-width: 1199px) {
  .section-space-ptb {
    padding: 60px 0;
  }
}
@media screen and (max-width: 991px) {
  .request-demo-banner {
    text-align: center;
  }

  .request-demo-contents h1 {
    font-size: 40px;
  }

  .request-demo-contents p {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .section-space-ptb {
    padding: 40px 0;
  }
  .request-demo-banner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .request-demo-form {
    padding: 15px;
  }

  .request-demo-contents h1 {
    font-size: 32px;
  }

  .request-demo-contents p {
    font-size: 15px;
    font-weight: 300;
  }
}
