<section class="inner-hero-section py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-12 px-5">
                <div class="inner-hero-contents text-center">
                    <span>About Us</span>
                    <h1>The Inspiration Behind <br><span>Blue Collar Engine</span></h1>
                    <p class="font18 px-5">It all started with Christian, an HVAC contractor from Woodbridge, Virginia, who dreamt of building a business that could sustain his family and create generational wealth. Like many contractors, Christian faced significant challenges due to a lack of business and marketing expertise, relying on inefficient tools like Dropbox to manage his operations. This inspired us to create a solution that not only streamlines operations but also significantly boosts profitability.</p>
                    <div class="gap-4 d-flex justify-content-center">
                        <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-fill-primary py-sm-3 px-sm-4 font16 mt-3 rounded-pill"> Book a demo </a>
                        <a href="tel:(347) 849-3436" class="btn btn-light py-sm-3 bg-white text-primary border px-sm-4 font16 mt-3 rounded-pill d-inline-flex align-items-center gap-2"> <span class="icon-call"></span> (347) 849-3436</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row align-items-lg-center mt-4 gx-5">
            <div class="col-lg-5">
                <img src="../../assets/images/frontend/images/our-mission.png" class="w-100" alt="image" title="Blue Collar Engine" />
            </div>
            <div class="col-lg-7">
                <div class="section-feature-content">
                    <div class="section-title2-sec mb-3">
                        <h3>Our Mission</h3>
                    </div>
                    <div class="mt-1">
                        <p class="font15 mb-2">At Blue Collar Engine, we empower contractors to drive their businesses forward with our cutting-edge field service management technology. Co-founded by industry visionaries John Victoria and Mohamadi Tapsoba, our platform revolutionizes the home service industry by simplifying everything from job booking to payments. Our mission is to make your business operations as efficient as possible, allowing you to focus on delivering exceptional service to your clients.</p>
                        <p class="font15 mb-2">We believe in the power of technology to transform the way you manage your business. Our user-friendly platform offers robust features designed to streamline your workflow, enhance productivity, and increase profitability. From scheduling and dispatching to invoicing and customer communication, Blue Collar Engine is your partner in achieving operational excellence.</p>
                        <p class="font15 mb-0">By leveraging our innovative solutions, contractors can reduce administrative burdens, minimize errors, and improve customer satisfaction. We are committed to continuous improvement and dedicated to providing the tools and support you need to succeed in a competitive market. Together, let's build a future where your business thrives and your clients are delighted with the services you provide.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row align-items-lg-center mt-4 gx-5">
            <div class="col-lg-6">
                <div class="section-feature-content">
                    <div class="section-title2-sec mb-3">
                        <h3>What We Do</h3>
                    </div>
                    <div class="mt-1">
                        <p class="font15 mb-2">Blue Collar Engine is a comprehensive platform designed for the modern contractor, offering a range of web-based and mobile applications to streamline and enhance business operations. Our system allows you to manage every aspect of your business backend effortlessly, from booking and scheduling jobs to invoicing and receiving payments. Designed with ease of use in mind, Blue Collar Engine ensures that even those without technical expertise can leverage the platform to its full potential, significantly boosting profit margins from an industry average of 2.5% to over 30%. Whether you're on-site or in the office, our tools provide the flexibility and efficiency needed to run a successful contracting business.</p>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Comprehensive Platform</h5>
                                <p class="font15 mb-0">Tailored specifically for modern contractors to address unique needs and challenges in managing day-to-day operations and overall business growth.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Web-Based and Mobile Solutions</h5>
                                <p class="font15 mb-0">Manage your business from anywhere with our versatile applications, providing seamless access to all tools on both desktop and mobile devices.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">End-to-End Business Management</h5>
                                <p class="font15 mb-0">Effortlessly handle booking, scheduling, invoicing, and payments in one place, streamlining your workflow and reducing administrative burdens.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">User-Friendly Design</h5>
                                <p class="font15 mb-0">Accessible to users without technical expertise, ensuring that everyone can navigate and utilize the platform effectively, regardless of their tech-savviness.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Profit Margin Boost</h5>
                                <p class="font15 mb-0">Increase your profit margins from an industry average of 2.5% to over 30%, enhancing your business's financial performance and overall profitability.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/images/frontend/images/what-we-do.png" class="w-100" alt="image" title="Blue Collar Engine" />
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5 pe-0 rounded-4 bg-blue-primary text-center ">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Effortlessly Integrate Appointments with Your Calendar for Simple and Convenient Management.</p>
                    <button class="btn btn-light py-3 mt-4 px-5 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-faqs></app-faqs>
<app-cta-section></app-cta-section>
<!--<app-news-and-blogs></app-news-and-blogs>-->