.section-space-ptb {
  padding: 50px 0 100px 0;
}

.section-space-pt {
  padding-top: 100px;
}

.section-space-pb {
  padding-bottom: 50px;
}

.inner-hero-section {
  background: radial-gradient(52.81% 52.81% at 50% 39.78%, #E8F0FD 0%, #FFF 100%);
}

.inner-hero-section .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.inner-hero-contents {
  h1 {
    font-size: 60px;
    font-weight: 700;
    span {
      color: #2d64d6;
    }
  }
  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.section-title-sec{
  p {
    color: #6b7280;
    font-size: 18px;
    margin: 0;
  }
  h2 {
    color: #0e172a;
    font-size: 42px;
    font-weight: 700;
    span {
      color: #2d64d6;
    }
  }
}

.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid #2d64d6;
  color: #2d64d6;
  font-size: 14px;
  padding: 7px 25px;
}

.btn-outline-primary:hover {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #ffffff !important;
}

.btn-fill-primary {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #fff;
  padding: 7px 25px;
  font-size: 14px;
}

.btn-fill-primary:hover {
  color: #fff;
  background-color: #0b2147;
  border-color: #0b2147;
}

.section-title2-sec h3 {
  font-size: 32px;
  font-weight: 700;
}

.section-title2-sec h3 span {
  color: #2d64d6;
}

.section-feature-content p {
  color: #4b5563;
}

.section-feature-content ul li {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 15px;
}

.section-feature-content ul li i {
  margin-right: 5px;
}

.section-cta{
  margin: 50px 0px 0px 0px;

  h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
  }
  p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }
  .btn-light {
    padding-left: 35px;
    padding-right: 35px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #2d64d6;
    font-size: 18px;
  }
}

.bg-blue-primary {
  background-color: #2d64d6;
}
.rotate90Right {
  transform: rotate(90deg);
}

@media screen and (max-width: 1199px) {
  .section-space-ptb {
    padding: 60px 0;
  }
  .section-space-pt {
    padding-top: 60px;
  }

  .section-space-pb {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .inner-hero-img,
  .section-feature-image {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .inner-hero-contents h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 575px) {
  .section-title-sec h2,
  .section-cta h2 {
    font-size: 26px;
  }

  .section-title-sec p {
    font-size: 15px;
  }

  .section-title2-sec h3 {
    font-size: 20px;
  }

  .section-cta p {
    font-size: 16px;
  }

  .icon-box-circle {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }

  .icon-box-circle img {
    width: 28px;
    height: 28px;
  }

  .section-space-ptb {
    padding: 40px 0;
  }

  .section-space-pt {
    padding-top: 40px;
  }

  .section-space-pb {
    padding-bottom: 40px;
  }

  .section-cta .btn-light {
    font-size: 16px;
    padding: 10px 25px !important;
  }

  .section-feature-content p {
    font-size: 16px;
  }
  .inner-hero-contents p {
    margin-bottom: 0;
  }
}
