<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Organize, track, and manage all your <span>Bookings</span> effortlessly</h1>
                    <p class="my-3">Our platform offers the features you need to keep your business running smoothly and your customers satisfied.</p>
                    <div class="gap-4 d-flex align-items-center flex-column flex-sm-row">
                        <button class="btn btn-fill-primary py-sm-3  px-sm-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <a href="tel:(347) 849-3436" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (347) 849-3436
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="inner-hero-img">
                    <img src="../../assets/images/frontend/images/invoice-title-img.svg" class="w-100" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-6  mx-auto text-center">
                <div class="section-title-sec mb-sm-5 mb-4">
                    <p class="mb-sm-3">Main Features</p>
                    <h2>Explore Key Features of the<span class="d-block">Booking System</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Overview of Booking Status</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Booking Status</h5>
                                <p class="font15 mb-0">The website provides clear status updates: "Unassigned" indicates a booking not yet allocated to a technician, "Assigned" means the appointment has been scheduled with a technician, and "Completed" signifies the service has been finished.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automatic Status Updates</h5>
                                <p class="font15 mb-0">Statuses are updated automatically as progress is made, reducing the need for manual intervention and keeping information current.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Visual Indicators</h5>
                                <p class="font15 mb-0">Different colors or icons are used to represent various statuses, making it easy to quickly identify the current status at a glance.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content pe-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Task Assignment Efficiency</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automated Task Assignment</h5>
                                <p class="font15 mb-0">Tasks are automatically assigned based on predefined rules or criteria, such as skill set or availability, streamlining the distribution process.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Real-Time Assignment Updates</h5>
                                <p class="font15 mb-0">Immediate notifications and updates are provided when tasks are assigned or reassigned, keeping everyone informed of changes.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Booking Process Overview</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Step-by-Step Guidance</h5>
                                <p class="font15 mb-0">Provides a clear, sequential outline of each step involved in the booking process, from initial selection to final confirmation.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Search and Filter Options</h5>
                                <p class="font15 mb-0">Enables the ability to search and filter bookings by criteria such as customer name and date. This feature allows contractors to quickly locate specific bookings, making it easier to manage and review appointments efficiently.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5  rounded-4 bg-blue-primary text-center section-cta">
            <div class="row">
                <div class="col-lg-10 col-xl-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Experience the Power of Blue Collar Engine. Schedule your personalized demo now.</p>
                    <button class="btn btn-light py-3 mt-4 px-4 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>

<!--
    <app-news-and-blogs></app-news-and-blogs>
-->