<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Organize, track, and manage all your <span>Bookings</span> effortlessly</h1>
                    <p class="my-3">Our platform offers the features you need to keep your business running smoothly and your
                        customers satisfied.
                    </p>
                    <div class="gap-4 d-flex align-items-center flex-column flex-sm-row">
                        <button class="btn btn-fill-primary py-sm-3  px-sm-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <a href="tel:(347) 849-3436" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (347) 849-3436
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="inner-hero-img">
                    <img src="../../assets/images/frontend/images/invoice-title-img.svg" class="w-100" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-6  mx-auto text-center">
                <div class="section-title-sec mb-sm-5 mb-4">
                    <p class="mb-sm-3">how it work</p>
                    <h2>Effortless Invoicing with
                        <span class="d-block">Blue Collar Engine</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Task Assignment Efficiency
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Streamline Task Management</h5>
                                <p class="font15 mb-0">Streamline appointment scheduling processes to maximize
                                    productivity and minimize downtime, empowering contractors to focus on core business
                                    tasks.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automated Task Allocation</h5>
                                <p class="font15 mb-0">Seamlessly coordinate job assignments and allocate resources with
                                    precision, ensuring efficient utilization of time and manpower resources for
                                    enhanced business productivity.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Clear Accountability</h5>
                                <p class="font15 mb-0">Effectively manage client appointments and schedules, reducing
                                    administrative burden and enabling contractors to maintain better control over their
                                    business operations.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content pe-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Status Customisation
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Tailored Status Options</h5>
                                <p class="font15 mb-0">Effectively Delegate Tasks and Monitor Progress in Real-Time for
                                    Enhanced Efficiency and Project Management.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Real-Time Updates</h5>
                                <p class="font15 mb-0">Optimize Organizational Efficiency by Customizing Job Statuses to
                                    Suit Your Unique Business Needs and Workflow.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Visual Status Indicators</h5>
                                <p class="font15 mb-0">Implement Efficient Workflow Streamlining Processes to Guarantee
                                    Timely Completion of Projects and Boost Overall Productivity.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Optimise Workflows
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Streamlined Processes</h5>
                                <p class="font15 mb-0">Effortlessly create detailed and polished estimates tailored to
                                    your clients' needs, ensuring professionalism and accuracy in every proposal.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Workflow Automation</h5>
                                <p class="font15 mb-0">Personalize templates to match your brand and include
                                    comprehensive service descriptions for clear and transparent estimates.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Continuous Improvement</h5>
                                <p class="font15 mb-0">Seamlessly convert estimates into actionable jobs with integrated
                                    tools, streamlining your workflow for efficient project management and processing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5  rounded-4 bg-blue-primary text-center section-cta">
            <div class="row">
                <div class="col-lg-10 col-xl-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Experience the Power of Blue Collar Engine. Schedule your personalized demo now.</p>
                    <button class="btn btn-light py-3 mt-4 px-4 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>

<!--
    <app-news-and-blogs></app-news-and-blogs>
-->