<header class="main-header sticky-top">
    <div class="top-header-bar">
        <div class="container-xxl">
            <p class="mb-0">Join our plan and enjoy priority service and discounts!
                <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" target="_blank">Click here</a>
            </p>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light header-navigation">
        <div class="container-xxl">
            <a class="navbar-brand d-flex align-items-center navbar-logo" href="/">
                <img src="../../../assets/images/frontend/images/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-0">
                    <li class="nav-item dropdown mega-menu-nav-item">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="javascript:void(0)">Features</a>
                        <div class="dropdown-menu mega-menu-content">
                            <div class="container-xxl pt-0 pb-0 pt-lg-4 pb-lg-4">
                                <div class="row">
                                    <div class="col-lg-3 border-bottom border-bottom-0">
                                        <a [routerLink]="['online-booking-system']" class="feature-box">
                                            <div class="d-flex gap-3">
                                                <i class="icon-document"></i>
                                                <div>
                                                    <h5>Online Booking From</h5>
                                                    <p>Detailed descriptions and pricing for each service.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 border-bottom border-lg-0">
                                        <a [routerLink]="['booking-system']" class="feature-box">
                                            <div class="d-flex gap-3">
                                                <i class="icon-calendar"></i>
                                                <div>
                                                    <h5>Booking System</h5>
                                                    <p>Efficient management of resources and staff schedules</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 border-bottom border-lg-0">
                                        <a [routerLink]="['estimates']" class="feature-box">
                                            <div class="d-flex gap-3">
                                                <i class="icon-estimate"></i>
                                                <div>
                                                    <h5>Estimates</h5>
                                                    <p>Tracks the status of each estimate, such as sent, viewed, and approved.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 border-bottom border-lg-0">
                                        <a [routerLink]="['invoices']" class="feature-box">
                                            <div class="d-flex gap-3">
                                                <i class="icon-invoice"></i>
                                                <div>
                                                    <h5>Invoices</h5>
                                                    <p>Shows multiple services with details and prices on one invoice.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#podcast">Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs">FAQs </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/about-us']">About Us
                        </a>
                    </li>
                </ul>
                <div class="top-menu-right">
                    <a href="tel:3478493436" class="top-right-call">
                        <span class="icon-call"></span> (347) 849-3436
                    </a>
                    <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        (click)="redirectToLogin()" class="btn btn-outline-primary">Login
                    </a>
                    <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/online-request-demo']" class="btn btn-fill-primary">Get Demo
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer-section">
    <div class="footer-top">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-3 col-md-12 footer-column mb-4 mb-lg-0">
                    <h5 class="ft-title">Contact Us</h5>
                    <ul>
                        <li><a href="tel:3478493436"> <span class="icon-call"></span> (347) 849-3436</a></li>
                        <li><a href="mailto:info@bluecollarengine.com"> <span class="icon-email"></span>info@bluecollarengine.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-column mb-4 mb-lg-0">
                    <h5 class="ft-title">Features</h5>
                    <ul>
                        <li><a [routerLink]="['/online-booking-system']">Online Scheduling</a></li>
                        <li><a [routerLink]="['/booking-system']">Booking System</a></li>
                        <li><a [routerLink]="['/estimate']">Estimate</a></li>
                        <li><a [routerLink]="['/invoice']">Invoice</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-column mb-4 mb-lg-0">
                    <h5 class="ft-title">Resources</h5>
                    <ul>
                        <li><a href="#faqs">FAQs</a></li>
                        <li><a [routerLink]="['/terms-of-service']">Terms and Conditions</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0 footer-column">
                    <h5 class="ft-title">Company</h5>
                    <ul>
                        <li><a [routerLink]="['/about-us']">About Us</a></li>
                        <li><a href="#features">Features</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <p class="mb-0 text-white font300 font13">© Copyright {{currentYear}} Blue Collar Engine. All Rights
                Reserved</p>
        </div>
    </div>
</footer>