/*****************************
Typography 
*****************************/

body {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #5f5f5f;
  overflow-x: hidden;
  background: #ffffff;
  font-family: "JUST Sans";
}

a {
  outline: medium none !important;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:focus {
    text-decoration: none !important;
  }

  &:hover {
    color: #172ea1;
    text-decoration: none !important;
  }
}

input {
  outline: medium none !important;
  color: #000000;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

label {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

small {
  font-size: 80%;
}

.font6 {
  font-size: 6px !important;
}

.font10 {
  font-size: 10px !important;
}

.font12 {
  font-size: 12px !important;
  line-height: 11px !important;
}

.font13 {
  font-size: 13px !important;
  line-height: 13px !important;
}

.font14 {
  font-size: 14px !important;
}

.font15 {
  font-size: 15px !important;
}

.font16 {
  font-size: 16px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font25 {
  font-size: 25px !important;
}

.font300 {
  font-weight: 300;
}

.font400 {
  font-weight: 400;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.font700 {
  font-weight: 700;
}

.text-secondary {
  color: #787777 !important;
}

.text-light-dark {
  color: #787777 !important;
}

.text-success {
  color: #16c36e !important;
}

.text-warning {
  color: #ef7300 !important;
}

.text-primary {
  color: #2d64d6 !important;
}

.text-dark {
  color: #000000 !important;
}

.text-dark2 {
  color: #3c3c3c !important;
}

.bg-success {
  background-color: #16c36e !important;
}

.bg-warning {
  background-color: #ef7300 !important;
}

.btn-dark {
  color: #fff;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.opacity-50 {
  opacity: 0.5;
}

.rounded {
  border-radius: 8px !important;
}

.lineheight18 {
  line-height: 18px !important;
}

*::-moz-selection {
  background: #064499;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #064499;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #064499;
  color: #ffffff;
  text-shadow: none;
}

.container-fluid {
  padding: 0 100px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid #2d64d6;
  color: #2d64d6;
  font-size: 14px;
  padding: 7px 25px;
  border-radius: 100px;

  &:hover {
    background-color: #2d64d6;
    border-color: #2d64d6;
    color: #ffffff;
  }
}

.btn-fill-primary {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #fff;
  padding: 7px 25px;
  font-size: 14px;
  border-radius: 100px;

  &:hover {
    color: #fff;
    background-color: #0b2147;
    border-color: #0b2147;
  }
}

.top-header-bar {
  background: #0b2147;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;

  p {
    color: #f7cd4b;
    font-weight: 300;
    text-align: center;
    font-size: 13px;

    a {
      color: #f7cd4b;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.header-navigation .navbar-nav>.nav-item>.nav-link {
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: #1f2937;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  position: relative;
  transition: all 500ms ease;
}

.header-navigation .navbar-nav>.nav-item>.nav-link.active,
.header-navigation .navbar-nav>.nav-item>.nav-link:hover {
  color: #064499;
  transition: all 500ms ease;
}

.header-navigation .navbar-nav>.nav-item>.nav-link.active:before,
.header-navigation .navbar-nav>.nav-item>.nav-link:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.header-navigation .navbar-nav>.nav-item {
  margin-right: 35px;
}

.header-navigation {
  background: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px #0000002b;
}

.main-header.sticky-active {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header.sticky-active .header-navigation {
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.main-header.sticky-active .top-header-bar {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler {
  border: 0;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-custom-tabs .nav-link.active,
.nav-custom-tabs .nav-link:hover {
  background: #060030;
  border: 1px solid #060030;
  color: #ffffff;
}

.top-menu-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-right-call {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #1f2937;
  font-size: 15px;
}

.bg-blue-primary {
  background-color: #2d64d6;
}

.bg-blue-light {
  background-color: #e8f0fd;
}

.section-space-ptb {
  padding: 100px 0;
}

.section-space-pt {
  padding-top: 100px;
}

.section-space-pb {
  padding-bottom: 100px;
}

.rotate90Right {
  transform: rotate(90deg);
}

.rotate90Left {
  transform: rotate(-90deg);
}

.footer-section {
  background: #030b18;
  position: relative;

  .footer-top {
    padding-top: 60px;
    padding-bottom: 40px;

    .ft-title {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 20px;
    }

    ul {
      li {
        margin-bottom: 15px;

        a {
          color: #d7d7d7;
          font-weight: 300;
          font-size: 15px;
          display: inline-flex;
          align-items: center;
          gap: 12px;

          &:hover {
            color: #2d64d6;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #545454;
    padding: 12px 0;
  }
}

.section-title-sec {
  p {
    color: #6b7280;
    font-size: 18px;
    margin: 0;
  }

  h2 {
    color: #0e172a;
    font-size: 42px;
    font-weight: 700;

    span {
      color: #2d64d6;
    }
  }
}

@media screen and (max-width: 1199px) {
  .section-space-ptb {
    padding: 60px 0;
  }

  .section-space-pt {
    padding-top: 60px;
  }

  .section-space-pb {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .header-navigation .navbar-collapse {
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 0;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .main-header.sticky-active .header-navigation {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header-navigation .navbar-nav>.nav-item {
    margin: 0;
  }

  .header-navigation .navbar-nav>.nav-item>.nav-link {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
  }

  .top-menu-right {
    padding: 12px 20px;
    justify-content: center;
  }

  .section-title-sec h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .footer-column ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;

    li {
      margin-bottom: 0;

      a {
        font-size: 14px;
      }
    }
  }

  .header-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-navigation .navbar-collapse {
    top: 56px;
  }

  .main-header.sticky-active .header-navigation .navbar-collapse {
    top: 46px;
  }
}

@media screen and (max-width: 575px) {
  .top-menu-right {
    gap: 10px;
  }

  .top-menu-right .btn {
    flex: 1;
  }

  .section-space-ptb {
    padding: 40px 0;
  }

  .section-space-pt {
    padding-top: 40px;
  }

  .section-space-pb {
    padding-bottom: 40px;
  }

  .top-right-call {
    display: none;
  }

  .section-title-sec h2 {
    font-size: 26px;
  }

  .footer-top {
    padding-bottom: 0 !important;
  }
}

select option {
  color: #000000;
}

.mega-menu-nav-item {
  position: inherit;

  @media screen and (max-width:991px) {
    .dropdown-toggle::after {
      display: inline-block !important;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      position: absolute;
      right: 15px;
      top: 20px;
    }
  }
}



.mega-menu-content {
  background-color: #ffffff;
  margin-top: 0px;
  width: 100vw;
  color: #333;
  left: 50%;
  box-sizing: border-box;
  z-index: 3;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  top: calc(100% + 30px);
  transform: translateX(-50%) translateY(-20px);
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  border: 0;
  box-shadow: inset 0px 2px 10px 0px rgb(0 0 0 / 20%);
  display: block !important;

  @media screen and (max-width:991px) {
    display: none !important
   
  }
}

@media screen and (max-width:991px) {
  .dropdown-menu.mega-menu-content.show{
    display: block !important;
    left: 0 !important;
    transform: translateX(0) !important;
    top:0 !important;
    position: relative !important;
    box-shadow: none !important;
  }
}

.mega-menu-content.show,
.mega-menu-nav-item:hover .mega-menu-content {
  opacity: 1;
  visibility: visible;
  top: 65px;
  transform: translateX(-50%) translateY(0);
}

.mega-menu-content .container {
  padding: 20px;
}

.feature-box {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  @media screen and (max-width:1199px) {
    padding: 0px;
  }
  @media screen and (max-width:1199px) {
    padding: 10px 0;
  }
  i {
    font-size: 20px;
    position: relative;
    top: 5px;
  }

  h5 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 3px;

    @media screen and (max-width:1199px) {
      font-size: 15px;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
    color: #6b7280;

  }

  &:hover {
    h5 {
      color: #064499;
    }

    p {
      color: #064499;
    }
  }
}