<section class="section-hvac-insights bg-blue-primary" id="podcast">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="mb-3">Listen to Our HVAC Insights Podcast</h2>
                <p>Expert Advice and Industry Trends for HVAC Professionals</p>
                <a href="https://pod.co/blue-collar-engine" target="_blank" class="btn btn-light py-3 mt-4">
                    Listen Now <span class="icon-up-arrow rotate90Right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="mobile-hvac-insights-section">

    </div>
</section>