<section class="section-space-ptb section-faq" id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-lg-5">
                <div class="section-feature-content">
                    <div class="section-title-sec mb-sm-3">
                        <h2>Frequently asked <span> questions</span>
                        </h2>
                    </div>
                    <p>Let us know if you have any other questions, our team is always happy to help!
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion accordion-flush discover-accordion-section " id="accordionFlushExample">
                    <div class="accordion-item opened">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                How do I Book a Demo with Blue Collar Engine?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Book a Demo is easy! Simply visit our website and click on the "Get Demo" button.
                                    From there, fill out the form and submit it. You will receive follow up confirmation
                                    via email. Book your demo today and discover how Blue Collar Engine can meet your
                                    needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                What services does Blue Collar Engine offer?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Blue Collar Engine offers a comprehensive range of services for home service businesses,
                                    including online scheduling, job management, estimates, invoices, and customer
                                    relationship management tools. Our platform is designed to streamline your
                                    operations and help you grow your business.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Is Blue Collar Engine compatible with my existing home service software?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Yes, Blue Collar Engine is designed to integrate seamlessly with a variety of Home Service
                                    software systems. Our team can work with you to ensure a smooth transition and
                                    provide any necessary support or assistance during the integration process.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                How secure is my data with Blue Collar Engine?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>At Blue Collar Engine, we take data security very seriously. We use industry-standard
                                    encryption protocols to protect your data, and our servers are monitored 24/7 to
                                    ensure maximum security. Additionally, we regularly update our security measures to
                                    stay ahead of potential threats and vulnerabilities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>