<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Easy <span>Invoicing</span> for Home Service Contractors</h1>
                    <p class="my-3">Easily create detailed invoices post-job, accept secure online payments, and send automated notifications for seamless and efficient payment management.</p>
                    <div class="gap-4 d-flex align-items-center flex-column flex-sm-row">
                        <button class="btn btn-fill-primary py-sm-3  px-sm-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <a href="tel:(347) 849-3436" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (347) 849-3436
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="inner-hero-img text-center">
                    <img src="../../assets/images/frontend/images/invoice-hero-image.svg" class="w-100" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-6 mx-auto text-center">
            <div class="section-title-sec mb-3">
                <p class="mb-sm-3">Main Features</p>
                <h2>Effortless Invoicing with
                    <span class="d-block">Blue Collar Engine</span>
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/easy-invoice-creation-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Advanced Invoice Creation</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Multiple Service Entries</h5>
                                <p class="font15 mb-0">Allows the inclusion of multiple services or products in a single invoice, with each entry having its own description, quantity, and price.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Automatic Calculations</h5>
                                <p class="font15 mb-0">Includes features for automatic calculations of totals, taxes, and discounts based on the entered data, reducing manual errors.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Save as Draft</h5>
                                <p class="font15 mb-0">Includes a "Save as Draft" option, enabling users to save incomplete invoices and return to them later for further editing or completion.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content pe-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Online Payment Integration</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Multiple Payment Methods</h5>
                                <p class="font15 mb-0">Supports a variety of payment options, including credit/debit cards (e.g., Stripe, Authorize.net), and bank transfers, to accommodate different customer preferences.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Secure Transactions</h5>
                                <p class="font15 mb-0">Utilizes advanced encryption and security protocols to protect sensitive payment information and ensure safe transactions.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Real-Time Payment Processing</h5>
                                <p class="font15 mb-0">Processes payments instantly, providing immediate confirmation and updates to both customers and businesses.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/invoice-online-payment-image.svg" class="w-100" alt="image" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-lg-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/invoice-notification-image.svg" class="w-100" alt="image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-lg-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Reminders and Status Updates</h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Instant Invoice Alert</h5>
                                <p class="font15 mb-0">Users receive immediate notifications when an invoice is created or updated. This feature provides real-time alerts via email, SMS, or in-app messages, keeping users informed of any changes promptly.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Payment Reminders</h5>
                                <p class="font15 mb-0">This feature sends automatic notifications when an invoice is overdue. It alerts users about missed payments, helping to prompt timely action and reduce the risk of late fees.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Status Updates</h5>
                                <p class="font15 mb-0">The status update feature provides real-time tracking of an invoice's progress through various stages, such as "Draft," "Sent," "Paid," and "Overdue." It allows users to monitor the current status of each invoice, ensuring they are informed about payment progress and can manage follow-ups </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-outline-primary py-sm-3 text-primary px-sm-4 font16 mt-sm-3 rounded-pill"> Get Demo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5 rounded-4 bg-blue-primary text-center section-cta">
            <div class="row">
                <div class="col-lg-10 col-xl-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!</h2>
                    <p>Experience the Power of Blue Collar Engine. Schedule your personalized demo now.</p>
                    <button class="btn btn-light py-3 mt-4 px-4 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-faqs></app-faqs>
<app-cta-section></app-cta-section>

<!--
    <app-news-and-blogs></app-news-and-blogs>
-->