<section class="section-space-ptb section-our-news bg-blue-light">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-8  mx-auto text-center">
                <div class="section-title-sec mb-md-5 mb-4">
                    <p>News and Update</p>
                    <h2>Covering Innovations
                        <span>Maintenance</span> Tips and <span>Industry</span> Trends
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="our-news-item">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="mt-md-4">
                                <h3 class="mb-3">Top 10 Tips to Boost Your HVAC System's Efficiency This Summer</h3>
                                <p class="font-muted">Consequat aute vel pellentesque dapibus! Imperdiet nec culpa,
                                    eligendi magni?
                                    Assumenda fringilla, vulputate fringilla similique excepturi vulputate dolores. Arcu
                                    non aliquet rutrum vitae amet, laborum leo pharetra. Erat lectus veniam.</p>
                                <a href="#" class="text-primary d-inline-flex align-items-center gap-2">Keep reading
                                    <span class="icon-down-arrow rotate90Left"></span></a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-md-0 mt-3">
                            <div class="news-item-image">
                                <img src="../../../assets/images/frontend/images/news1.png"
                                    class="img-fluid rounded-3" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-news-item">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="mt-md-4">
                                <h3 class="mb-3">Top 10 Tips to Boost Your HVAC System's Efficiency This Summer</h3>
                                <p class="font-muted">Consequat aute vel pellentesque dapibus! Imperdiet nec culpa,
                                    eligendi magni?
                                    Assumenda fringilla, vulputate fringilla similique excepturi vulputate dolores. Arcu
                                    non aliquet rutrum vitae amet, laborum leo pharetra. Erat lectus veniam.</p>
                                <a href="#" class="text-primary d-inline-flex align-items-center gap-2">Keep reading
                                    <span class="icon-down-arrow rotate90Left"></span></a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-md-0 mt-3">
                            <div class="news-item-image">
                                <img src="../../../assets/images/frontend/images/news2.png"
                                    class="img-fluid rounded-3" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>