<section class="bg-light py-sm-5 py-4">
    <div class="container">
        <div class="bredcrumb-inner-contents text-center">
            <h1 class="mb-2">Terms of Service </h1>
            <p>Created Date: July 15, 2024 </p>
        </div>
    </div>
</section>

<div class="page-site-content py-sm-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="d-flex flex-column">
                    <h4 class="mb-1">1. Acceptance of Terms</h4>
                    <p class="mb-0">By downloading, installing, or using Blue Collar, you agree to these Terms and Conditions and our Privacy Policy. If you do not agree with any part of these terms, do not use the App. </p>
                </div>

                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">2. Use of the App</h4>
                    <p class="mb-2"><span class="font600">2.1 License:</span> We grant you a limited, non-exclusive, non-transferable license to use the App solely for your personal, non-commercial purposes.</p>
                    <p class="mb-1"><span class="font600">2.2 Restrictions:</span> You agree not to:</p>

                    <p class="mb-1 font14">* Modify, adapt, translate, reverse engineer, decompile, disassemble, or create derivative works based on the App.</p>
                    <p class="mb-1 font14">* Use the App for any illegal or unauthorized purpose.</p>
                    <p class="mb-0 font14">* Attempt to gain unauthorized access to any portion of the App or any related systems or networks.</p>
                </div>
                
                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">3. Intellectual Property</h4>
                    <p class="mb-3"><span class="font600">3.1 Ownership:</span> <br>The App and all intellectual property rights therein are owned by us or our licensors. You do not acquire any ownership interest in the App or its content.</p>
                    <p class="mb-0"><span class="font600">3.2 Feedback:</span> <br> If you provide us with any suggestions, comments, or other feedback regarding the App, you grant us the right to use and incorporate such feedback without obligation or compensation to you.</p>
                </div>
                
                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">4. Privacy</h4>
                    <p class="mb-0">Your use of the App is subject to our Privacy Policy, which explains how we collect, use, and disclose your information. By using the App, you consent to our collection and use of your information as described in the Privacy Policy.</p>
                </div>

                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">5. Limitation of Liability</h4>
                    <p class="mb-3"><span class="font600">5.1 Disclaimer:</span><br> The App is provided on an "as-is" and "as-available" basis without warranties of any kind, either express or implied.</p>
                    <p class="mb-0"><span class="font600">5.2 Limitation of Liability:</span> <br>To the fullest extent permitted by law, we shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues.</p>
                </div>

                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">6. Indemnification</h4>
                    <p class="mb-0">You agree to indemnify and hold us harmless from and against any claims, liabilities, damages, losses, and expenses arising out of or relating to your use of the App or violation of these Terms and Conditions.</p>
                </div>
                
                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">7. Changes to Terms and Conditions</h4>
                    <p class="mb-0">We may update these Terms and Conditions from time to time. We will notify you of any changes by posting the updated terms on this page with a new effective date.</p>
                </div>
                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">8. Governing Law</h4>
                    <p class="mb-0">These Terms and Conditions shall be governed by and construed in accordance with the laws of [Your Jurisdiction], without regard to its conflict of law principles.</p>
                </div>
                <div class="d-flex flex-column mt-4">
                    <h4 class="mb-1">9. Contact Us</h4>
                    <p class="mb-0">If you have any questions about these Terms and Conditions, please contact us at <a href="mailto:info@bluecollarengine.com">info@bluecollarengine.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>