<section class="blog-list-top section-space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-9 mx-auto">
                <h1 class="text-center">Latest News and Trends in HVAC Systems</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="section-blog-list">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-list-item" *ngFor="let blog of latestblogs">
                        <div class="blog-row">
                            <div>
                                <h3 class="mb-2" [innerHTML]="blog.title"></h3>
                                <p class="font-muted" [innerHTML]="blog.content"></p>
                                <a (click)="viewDetail(blog.permalink)" class="text-primary d-inline-flex align-items-center gap-2">Keep reading <span class="icon-down-arrow rotate90Left mt-1"></span></a>
                            </div>
                            <div class="news-item-image" *ngIf="blog.thumbnail && blog.thumbnail.trim() !== ''">
                                <img src="{{blog.thumbnail}}" class="img-fluid rounded-3" />
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-articles">
    <div class="container">
        <div class="section-title2-sec mb-4">
            <h2>Feature Articles</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let blog of blogs">
                <div class="feature-articles-item">
                    <div class="feature-item-image mb-3" *ngIf="blog.thumbnail && blog.thumbnail.trim() !== ''">
                        <img [src]="blog.thumbnail" class="img-fluid rounded-3" alt="{{blog.title}}" />
                    </div>
                    <div>
                        <h3 class="mb-2 font18" [innerHTML]="blog.title"></h3>
                        <p class="font-muted" [innerHTML]="blog.content"></p>
                        <a (click)="viewDetail(blog.permalink)" class="text-primary d-inline-flex align-items-center gap-2">Keep reading <span class="icon-down-arrow rotate90Left mt-1"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls 
            (pageChange)="onPageChange($event)">
        </pagination-controls>
    </div>
</section>