.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid #2d64d6;
  color: #2d64d6;
  font-size: 14px;
  padding: 7px 25px;
}

.btn-outline-primary:hover {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #ffffff;
}

.btn-fill-primary {
  background-color: #2d64d6;
  border-color: #2d64d6;
  color: #fff;
  padding: 7px 25px;
  font-size: 14px;
}

.btn-fill-primary:hover {
  color: #fff;
  background-color: #0b2147;
  border-color: #0b2147;
}

.hero-section {
  position: relative;
  height: 650px;
}

.hero-section .carousel-item{
  position: relative;
  background-size: cover;
  height: 650px;
  background-position: top center;
}


.hero-section .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-contents h1 {
  font-size: 58px;
  font-weight: 700;
  color: #ffffff;
}

.hero-contents p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #ffffff;
}

form.hero_newsletter_form {
  display: flex;
  align-items: center;
  height: 58px;
  background: #fff;
  padding: 2px;
  margin-right: 100px;
  border-radius: 10px;
}

form.hero_newsletter_form input.form-control {
  height: 100%;
  border: 0;
  padding: 0 20px;
}

form.hero_newsletter_form button {
  white-space: nowrap;
  height: 100%;
  font-size: 16px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bg-blue-primary {
  background-color: #2d64d6;
}

.bg-blue-light {
  background-color: #e8f0fd;
}

.section-space-ptb {
  padding: 100px 0;
}

.section-space-pt {
  padding-top: 100px;
}

.section-space-pb {
  padding-bottom: 100px;
}

.section-title-sec p {
  color: #6b7280;
  font-size: 18px;
  margin: 0;
}

.section-title-sec h2 {
  color: #0e172a;
  font-size: 42px;
  font-weight: 700;
}

.section-title-sec h2 span {
  color: #2d64d6;
}

.about-bluecollar-card {
  border: 1px solid #d1d5db;
  padding: 20px;
  border-radius: 15px;
  h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  p {
    color: #6b7280;
    font-weight: 300;
  }
}

.icon-box-circle {
  width: 80px;
  height: 80px;
  min-width: 80px;
  background: #e8f0fd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #2d64d6;
  font-size: 32px;
}

.rotate90Right {
  transform: rotate(90deg);
}

.section-cta .btn-light span,
.section-hvac-insights .btn-light span {
  font-size: 24px;
}

.icon-box-circle img {
  width: 42px;
  height: 42px;
}

.section-title2-sec h3 {
  font-size: 32px;
  font-weight: 700;
}

.section-title2-sec h3 span {
  color: #2d64d6;
}

.section-feature-content p {
  color: #4b5563;
}

.section-feature-content ul li {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 15px;
}

.section-feature-content ul li i {
  margin-right: 5px;
}

.section-cta h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.section-cta p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: 300;
}

.section-cta .btn-light {
  padding-left: 35px;
  padding-right: 35px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: #2d64d6;
  font-size: 18px;
}

@media screen and (max-width: 1199px) {
  .section-space-ptb {
    padding: 60px 0;
  }

  .section-space-pt {
    padding-top: 60px;
  }

  .section-space-pb {
    padding-bottom: 60px;
  }

  .hero-section , .hero-section .carousel-item{
    height: 520px;
  }
}

@media screen and (max-width: 1024px) {
  .section-hvac-insights {
    background-size: 58%;
    height: 320px;
  }
}

@media screen and (max-width: 991px) {
  .section-title2-sec {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .section-title-sec h2 {
    font-size: 32px;
  }

  .section-title2-sec h3 {
    font-size: 28px;
  }

  .hero-contents h1 {
    font-size: 48px;
  }
  .section-feature-image {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .hero-contents h1 {
    font-size: 38px;
  }

  .section-hvac-insights {
    height: auto;
    text-align: center;
    background: #2b64df;
    display: block;
    padding-top: 35px;
  }

  .mobile-hvac-insights-section {
    background-image: url("../../assets/images/frontend/images/hvac-insights-bg.png");
    height: 240px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 575px) {
  form.hero_newsletter_form {
    margin-right: 0;
  }

  .section-title-sec h2,
  .section-cta h2,
  .section-hvac-insights h2 {
    font-size: 26px;
  }

  .section-title-sec p {
    font-size: 15px;
  }

  .section-title2-sec h3 {
    font-size: 20px;
  }

  .section-cta p,
  .section-hvac-insights p {
    font-size: 16px;
  }

  .icon-box-circle {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }

  .icon-box-circle img {
    width: 28px;
    height: 28px;
  }

  .section-space-ptb {
    padding: 40px 0;
  }

  .section-space-pt {
    padding-top: 40px;
  }

  .section-space-pb {
    padding-bottom: 40px;
  }

  .section-cta .btn-light,
  .section-hvac-insights .btn-light {
    font-size: 16px;
    padding: 10px 25px !important;
  }

  .section-faq .section-feature-content p {
    font-size: 16px;
  }
  .hero-contents p {
    margin-bottom: 0;
  }
}
