<section class="blog-details-section py-lg-5  py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/blog']">Resources</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Top 10 tips to boost your system’s
                            efficiency this summer</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 mx-auto">
                <h1 class="mb-3">Top 10 tips to boost your HVAC system’s efficiency this summer</h1>
                <h6 class="font-muted">Justo delectus adipiscing! Minim tempor laoreet facilis ultrices? Porro
                    facilis!
                    Fuga. Doloremque architecto quas! Ligula. Eos quibusdam veritatis potenti! Quasi, posuere proident,
                    condimentum inventore senectus eius habitant ultricies ratione wisi! Ipsam rem donec iste minus sunt
                    nulla sodales cum debitis mauris ut, mi deserunt eveniet deserunt. Debitis ab dis optio.</h6>
                <p>By Maggie Mazzetti, Staff Writer</p>
                <p>Last Updated : June 28, 2024</p>
                <img src="../../assets/images/frontend/images/raw-img2.png" class="img-fluid" alt="">
                <p>Justo delectus adipiscing! Minim tempor laoreet facilis ultrices? Porro facilis! Fuga. Doloremque
                    architecto quas! Ligula. Eos quibusdam veritatis potenti! Quasi, posuere proident, condimentum
                    inventore senectus eius habitant ultricies ratione wisi! Ipsam rem donec iste minus sunt nulla
                    sodales cum debitis mauris ut, mi deserunt eveniet deserunt. Debitis ab dis optio.</p>
                <p>Iure sollicitudin hymenaeos pretium blanditiis distinctio imperdiet ipsam nihil, libero! Consectetur,
                    placerat. Expedita eveniet aspernatur sollicitudin posuere. Eveniet rutrum dis sequi iure nascetur
                    taciti habitasse! Vel! Feugiat ante malesuada iusto, vivamus facilis luctus ratione est primis
                    consectetur leo ea, sem! Habitasse magnam, anim parturient conubia dictumst dictumst cupidatat
                    lacinia sint.</p>
                <p>Tenetur class sint eos egestas leo dolorum voluptatem. Sem mollit recusandae gravida. Voluptas!
                    Ratione unde lorem elit mollitia, dignissimos congue inventore ex ex esse eros ea eligendi. Hac
                    vulputate molestias! Ipsa rem nisl a porttitor sapien sollicitudin euismod error per, tempore
                    dignissimos lorem debitis, necessitatibus elit beatae porta sed tellus.</p>
                <p>Diam maxime omnis habitasse consequuntur fusce arcu commodi. Sodales cumque. Mollitia quidem iaculis
                    hymenaeos, per? Dignissim, eligendi hendrerit felis ex posuere repellat aut felis? Aliquet blandit
                    cubilia reiciendis. Id hymenaeos minima lobortis harum cras? Nostra, sociis enim explicabo atque
                    explicabo praesentium sapien magni blandit nunc sapien platea assumenda, ac cupiditate.</p>
                <p>Sociosqu quisquam, pharetra debitis officiis euismod ipsam et, taciti pulvinar facere primis conubia
                    blanditiis diam rerum? Iaculis? Quisquam commodi dolorum, litora provident qui. Montes. Rerum
                    minima, magnam sequi laudantium eos quam incididunt, repudiandae tempora veniam mus illo
                    consectetuer adipiscing eu officia irure, quia aspernatur itaque. Euismod veritatis nobis
                    repellendus, enim.</p>
                <p>Justo delectus adipiscing! Minim tempor laoreet facilis ultrices? Porro facilis! Fuga. Doloremque
                    architecto quas! Ligula. Eos quibusdam veritatis potenti! Quasi, posuere proident, condimentum
                    inventore senectus eius habitant ultricies ratione wisi! Ipsam rem donec iste minus sunt nulla
                    sodales cum debitis mauris ut, mi deserunt eveniet deserunt. Debitis ab dis optio.</p>
                <p>Iure sollicitudin hymenaeos pretium blanditiis distinctio imperdiet ipsam nihil, libero! Consectetur,
                    placerat. Expedita eveniet aspernatur sollicitudin posuere. Eveniet rutrum dis sequi iure nascetur
                    taciti habitasse! Vel! Feugiat ante malesuada iusto, vivamus facilis luctus ratione est primis
                    consectetur leo ea, sem! Habitasse magnam, anim parturient conubia dictumst dictumst cupidatat
                    lacinia sint.</p>
                <p>Tenetur class sint eos egestas leo dolorum voluptatem. Sem mollit recusandae gravida. Voluptas!
                    Ratione unde lorem elit mollitia, dignissimos congue inventore ex ex esse eros ea eligendi. Hac
                    vulputate molestias! Ipsa rem nisl a porttitor sapien sollicitudin euismod error per, tempore
                    dignissimos lorem debitis, necessitatibus elit beatae porta sed tellus.</p>
                <p>Diam maxime omnis habitasse consequuntur fusce arcu commodi. Sodales cumque. Mollitia quidem iaculis
                    hymenaeos, per? Dignissim, eligendi hendrerit felis ex posuere repellat aut felis? Aliquet blandit
                    cubilia reiciendis. Id hymenaeos minima lobortis harum cras? Nostra, sociis enim explicabo atque
                    explicabo praesentium sapien magni blandit nunc sapien platea assumenda, ac cupiditate.</p>
                <p>Sociosqu quisquam, pharetra debitis officiis euismod ipsam et, taciti pulvinar facere primis conubia
                    blanditiis diam rerum? Iaculis? Quisquam commodi dolorum, litora provident qui. Montes. Rerum
                    minima, magnam sequi laudantium eos quam incididunt, repudiandae tempora veniam mus illo
                    consectetuer adipiscing eu officia irure, quia aspernatur itaque. Euismod veritatis nobis
                    repellendus, enim.</p>
                <img src="../../assets/images/frontend/images/raw-img2.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="feature-articles">
    <div class="container">
        <div class="section-title2-sec mb-4">
            <h3>Related Articles</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-articles-item">
                    <div class="feature-item-image mb-3">
                        <img src="../../../assets/images/frontend/images/news1.png" class="img-fluid rounded-3" />
                    </div>
                    <div>
                        <h4 class="mb-2">Effortless Estimate Design for a Professional Look</h4>
                        <p class="font-muted">Nisi nibh numquam, ad ullam imperdiet? Laboriosam cum ridiculus curae modi
                            eleifend inceptos quam harum voluptas, libero mollis viverra, eveniet.</p>
                        <a [routerLink]="['/blog-details']"
                            class="text-primary d-inline-flex align-items-center gap-2 text-decoration-underline">Keep
                            reading
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-articles-item">
                    <div class="feature-item-image mb-3">
                        <img src="../../../assets/images/frontend/images/news1.png" class="img-fluid rounded-3" />
                    </div>
                    <div>
                        <h4 class="mb-2">Effortless Estimate Design for a Professional Look</h4>
                        <p class="font-muted">Nisi nibh numquam, ad ullam imperdiet? Laboriosam cum ridiculus curae modi
                            eleifend inceptos quam harum voluptas, libero mollis viverra, eveniet.</p>
                        <a [routerLink]="['/blog-details']"
                            class="text-primary d-inline-flex align-items-center gap-2 text-decoration-underline">Keep
                            reading
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-articles-item">
                    <div class="feature-item-image mb-3">
                        <img src="../../../assets/images/frontend/images/news1.png" class="img-fluid rounded-3" />
                    </div>
                    <div>
                        <h4 class="mb-2">Effortless Estimate Design for a Professional Look</h4>
                        <p class="font-muted">Nisi nibh numquam, ad ullam imperdiet? Laboriosam cum ridiculus curae modi
                            eleifend inceptos quam harum voluptas, libero mollis viverra, eveniet.</p>
                        <a [routerLink]="['/blog-details']"
                            class="text-primary d-inline-flex align-items-center gap-2 text-decoration-underline">Keep
                            reading
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>