<section class="blog-details-section py-lg-5  py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/blog']">Resources</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Top 10 tips to boost your system’s
                            efficiency this summer</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 mx-auto" *ngIf="!isLoading && !error && blog">
                <p>By {{blog.author}}, Staff Writer</p>
                <p>Last Updated : {{blog.date}}</p>

                <div [innerHTML]="sanitizedContent"></div>

                <!-- Directly checking if the thumbnail URL is not empty -->
                  <div *ngIf="blog.full_image && blog.full_image.trim() !== ''">
                    <img [src]="blog.full_image" alt="Blog Thumbnail" class="img-fluid" alt="">
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-articles">
    <div class="container">
        <div class="section-title2-sec mb-4">
            <h3>Related Articles</h3>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6" *ngFor="let blog of relatedblogs">
                <div class="feature-articles-item">
                    <div class="feature-item-image mb-3" *ngIf="blog.thumbnail && blog.thumbnail.trim() !== ''">
                        <img src="{{blog.thumbnail}}" class="img-fluid rounded-3" />
                    </div>

                    <div>
                        <h4 class="mb-2">{{blog.title}}</h4>
                        <p class="font-muted" [innerHTML]="blog.content"></p>
                        <a (click)="viewDetail(blog.id)"
                            class="text-primary d-inline-flex align-items-center gap-2 text-decoration-underline">Keep
                            reading
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>